
# dependencies
MyProgressManager/node_modules/

# Expo
MyProgressManager/.expo/
MyProgressManager/dist/
MyProgressManager/web-build/
MyProgressManager/expo-env.d.ts

# Native
MyProgressManager/.kotlin/
MyProgressManager/ios/
MyProgressManager/android/

# Metro
MyProgressManager/.metro-health-check*

# debug
MyProgressManager/npm-debug.*
MyProgressManager/yarn-debug.*
MyProgressManager/yarn-error.*

# typescript
MyProgressManager/*.tsbuildinfo

# local env files
MyProgressManager/.env
MyProgressManager/.env.*
MyProgressManager/.env*.local

# VSCode
MyProgressManager/.vscode/

# misc
MyProgressManager/app-example
MyProgressManager/lib/


# BACKEND


# Python
Backend/__pycache__/
Backend/*.pyc
Backend/.env
Backend/.venv/
Backend/venv/

# Node backend 
Backend/node_modules/


.ini

Backend/env/.env