# FAKE Psycopg - Supabase Database Connection Configuration

DB_HOST="aws-0-us-west-2.pooler.supabase.com"
DB_NAME="mydb"
DB_USER="mydb.fafkkasadfadfagjn"
DB_PASSWORD="MyUnGuessablePassword"
DB_PORT=5432


# FAKE Supabase API Key:

SUPABASE_URL=https://fafkkasadfadfagjn.supabase.co
SUPABASE_KEY=adjkhfalkjdhfakljdhfkajhflahfjkahjflkadfhlakhlkjhKHLKHlkjhdfalkhfaiueyr834uhakjlhflahoiahfjkladfjkhldkahfoe8r47hyoaisuhfjhoer87yr0984ufhoiaudhfsoiudakjdfhljkahfoirewuthyo7489wuhgoiuhfahf9a8d0f9da
SERVICE_ROLE_KEY=djkahlfkjahlkfjhakjhifuy348097yf9uhaeoiuhf8qheuhf09eqhufiaohfiuh5eoijhioduhf7iuheifuh79hiuaehiufhy8a7u4hfaiouhiohFOIUHAF7OIUHF7ao8a7huH87hu09HH087fah087HIUDhaiuhdsaiuh897HFDUIhifudhsfiuheiwuheihoi34uhiuehihIUHIPH3I4UHuhipuhpiwu4hpiuahwe

# FAKE Render Endpoint:

RENDER_URL=https://myapppublic.onrender.com

# FAKE Chat GPT API Key:

CHAT_GPT_API_KEY=hfakljhflakjhdaf-adpfha-d-fafpah-dfia-dfhalkjdfhadf0a-fakdhflaksdjhlkjfhjw020fa0fasdfa-fdafpih3-aidfh